USE [master]
GO
/****** Object:  Database [Bolnica2]    Script Date: 1/18/2021 10:25:47 PM ******/
CREATE DATABASE [Bolnica2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bolnica2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bolnica2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bolnica2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bolnica2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bolnica2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bolnica2]
GO
/****** Object:  Table [dbo].[Odeljenje]    Script Date: 1/18/2021 10:25:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odeljenje](
	[OdeljenjeID] [int] NOT NULL,
	[Naziv] [nvarchar](50) NULL,
 CONSTRAINT [PK_Odeljenje] PRIMARY KEY CLUSTERED 
(
	[OdeljenjeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacijent]    Script Date: 1/18/2021 10:25:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacijent](
	[IDPacijent] [int] NOT NULL,
	[Ime] [nvarchar](30) NULL,
	[Prezime] [nvarchar](30) NULL,
	[Prioritet] [int] NULL,
	[BrDana] [int] NULL,
	[OdeljenjeID] [int] NULL,
	[SobaID] [int] NULL,
 CONSTRAINT [PK_Pacijent] PRIMARY KEY CLUSTERED 
(
	[IDPacijent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Soba]    Script Date: 1/18/2021 10:25:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soba](
	[SobaID] [int] NOT NULL,
	[OdeljenjeID] [int] NULL,
	[Sprat] [int] NULL,
 CONSTRAINT [PK_Soba] PRIMARY KEY CLUSTERED 
(
	[SobaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pacijent]  WITH CHECK ADD  CONSTRAINT [FK_Pacijent_Odeljenje] FOREIGN KEY([OdeljenjeID])
REFERENCES [dbo].[Odeljenje] ([OdeljenjeID])
GO
ALTER TABLE [dbo].[Pacijent] CHECK CONSTRAINT [FK_Pacijent_Odeljenje]
GO
ALTER TABLE [dbo].[Pacijent]  WITH CHECK ADD  CONSTRAINT [FK_Pacijent_Soba] FOREIGN KEY([SobaID])
REFERENCES [dbo].[Soba] ([SobaID])
GO
ALTER TABLE [dbo].[Pacijent] CHECK CONSTRAINT [FK_Pacijent_Soba]
GO
ALTER TABLE [dbo].[Soba]  WITH CHECK ADD  CONSTRAINT [FK_Soba_Odeljenje] FOREIGN KEY([OdeljenjeID])
REFERENCES [dbo].[Odeljenje] ([OdeljenjeID])
GO
ALTER TABLE [dbo].[Soba] CHECK CONSTRAINT [FK_Soba_Odeljenje]
GO
USE [master]
GO
